.header {
	/* Background */
	background-image: url("../public/mountain-road.png");

	/* Display */
	min-height: 100vh;

	/* Font */
	font-weight: 500;
	font-size: 8vmin;
}

.introduction {
	/* Font */
	font-size: 3vmin;
	text-align: center;
}

.footer {
	/* Background */
	background-color: #07020d;

	/* Font */
	color: #f1e9db;
	font-weight: 200;
	font-size: 2.5vmin;
}

.footer a {
	/* Font */
	color: #f1e9db;
}

.container-fluid {
	/* Display */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 5vh 5vw;
	min-width: 80vw;
}

.container-col {
	/* Display */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 1vh;
}

.container-row {
	/* Display */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	padding: 1vh;
}

.col-2 {
	/* Display */
	min-width: 50%;
}

.khaki-border {
	border-color: #a39b8b;
	border-style: solid;
	border-width: 10%;
	border-radius: 2rem;
}

.gim-grey-border {
	border-color: #716a5c;
	border-style: solid;
	border-width: 10%;
	border-radius: 2rem;
}

.parallax {
	/* Parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
	.parallax {
		background-attachment: scroll;
	}
}

.button {
	/* Display */
	min-width: 20vw;
	min-height: 10vh;
	border-radius: 1vmin;

	/* Font */
	font-size: 3vmin;
	text-align: center;
}

/*
 * black     #07020d
 * gim grey  #716a5c
 * khaki     #a39b8b
 * alabaster #f1e9db
 * emerald   #0dbf6f
 */
