.header {
	/* Background */
	background-image: url("../public/mountain-road.png");

	/* Display */
	min-height: 100vh;

	/* Font */
	font-weight: 500;
	font-size: 8vmin;
}

.introduction {
	/* Font */
	font-size: 3vmin;
	text-align: center;
}

.footer {
	/* Background */
	background-color: #07020d;

	/* Font */
	color: #f1e9db;
	font-weight: 200;
	font-size: 2.5vmin;
}

.footer a {
	/* Font */
	color: #f1e9db;
}



/*
 * black     #07020d
 * dim grey  #716a5c
 * khaki     #a39b8b
 * alabaster #f1e9db
 * emerald   #0dbf6f
 */
