body {
    /* Background */
    background-color: alabaster #f1e9db;

    /* Display */
    margin: 0;

    /* Font */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    background: #38343d;
}

body::-webkit-scrollbar-thumb {
    background-color: #07020d;
}

em {
    color: #2196f3;
    font-style: normal;
}

sup {
    font-size: 0.8rem;
}
