body {
    /* Background */
    background-color: alabaster #f1e9db;

    /* Display */
    margin: 0;

    /* Font */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: #07020d;
    font-size: 2vmin;
}

a {
    /* Font */
    color: #07020d;
    text-decoration: none;
}

h2 {
    /* Font */
    color: #07020d;
    text-decoration: none;
    font-weight: 500;
    font-size: calc(3vmin);

}

code {
    /* Font */
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

em {
    /* Font */
    color: #0dbf6f;
    font-weight: 500;
    font-style: normal;
}

.container-fluid {
	/* Display */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 5vh 5vw;
	min-width: 80vw;
}

.container-col {
	/* Display */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 1vh 2vw;
}

.container-row {
	/* Display */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	padding: 1vh 2vw;
}

.col-2 {
	/* Display */
	width: 50%;
}

.khaki-border {
	border-color: #a39b8b;
	border-style: solid;
	border-width: 10%;
	border-radius: 2rem;
}

.dim-grey-border {
	border-color: #716a5c;
	border-style: solid;
	border-width: 10%;
	border-radius: 2rem;
}

.bg-khaki {
    background-color: #716a5c;
}

.bg-dim-grey {
    background-color: #716a5c;
}

.bg-black {
    background-color: #07020d;
}

.parallax {
	/* Parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
	.parallax {
		background-attachment: scroll;
	}
}

.button {
	/* Display */
	min-width: 20vw;
	min-height: 10vh;
	border-radius: 1vmin;

	/* Font */
	font-size: 3vmin;
	text-align: center;
}